.container {
  padding: 0;
  margin: 0;
}

.comment-button {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 0.7rem;
  cursor: pointer;
}

.current-user {
  border-radius: 50%;
  margin-right: 0.5rem;
}

.comment-placeholder {
  color: gray;
}