.nav_bar {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fb;
}

.logo {
  padding-left: 1rem;
}

.mid-nav {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.mid-nav li a {
  padding: 0.5rem 2rem;

}

.mid-nav li a:hover,
.right-nav li:hover {
  border-radius: 15px;
  background-color: #d9d9d9c9;
  cursor: pointer;
}

.right-nav {
  padding-right: 0.5rem;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.right-nav li {
  padding: 0.5rem 1rem;
  border: 0.01px solid transparent;
}


@media screen and (max-width: 1200px) {
  .mid-nav {
    display: none;
  }
}